<img align="center" width="500" height="500" src="https://cdn.analyticsvidhya.com/wp-content/uploads/2020/07/panda-tips.jpg">

In [2]:
import pandas as pd
pd.__version__

'1.1.5'

In [5]:
data=pd.Series([1,2,3,4,5])
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

Ở đây hệ thống sẽ tự tạo index cho ta từ 0 trở lên.

Xem kiểu của dữ liệu

In [4]:
type(data)

pandas.core.series.Series

Ở đây dữ liệu thuộc kiểu series

In [6]:
data.values

array([1, 2, 3, 4, 5], dtype=int64)

Lấy index và subset của dữ liệu

In [7]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
data[1]

2

In [9]:
data[0:3]

0    1
1    2
2    3
dtype: int64

Tự tạo index

In [13]:
data=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
data['c']

3

In [17]:
car_dict={"Audi":1994,"Tesla":2010,"Toyota":2012}
car=pd.Series(car_dict)
car

Audi      1994
Tesla     2010
Toyota    2012
dtype: int64

Các key của dict khi bỏ vào dữ liệu series sẽ đóng vai trò là index

In [19]:
car['Audi']

1994

In [21]:
car['Audi':'Tesla']

Audi     1994
Tesla    2010
dtype: int64

In [23]:
df_car=pd.DataFrame({"year":car})
df_car

        year
Audi    1994
Tesla   2010
Toyota  2012

In [24]:
df_car.index

Index(['Audi', 'Tesla', 'Toyota'], dtype='object')

In [25]:
df_car.columns

Index(['year'], dtype='object')

In [26]:
df_car['year']

Audi      1994
Tesla     2010
Toyota    2012
Name: year, dtype: int64

In [28]:
pd.DataFrame(df_car,columns=['year'])

        year
Audi    1994
Tesla   2010
Toyota  2012

In [31]:
a_dict={'a':1,'b':2}
b_dict={'b':3,'c':4}
pd.DataFrame([a_dict,b_dict])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [36]:
import numpy as np
data=pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])
data

        foo       bar
a  0.622020  0.742077
b  0.065628  0.545538
c  0.462602  0.043660

In [40]:
'a' in data

False

In [42]:
data.keys()

Index(['foo', 'bar'], dtype='object')

In [44]:
list(data.items())

[('foo', a    0.622020
  b    0.065628
  c    0.462602
  Name: foo, dtype: float64), ('bar', a    0.742077
  b    0.545538
  c    0.043660
  Name: bar, dtype: float64)]

In [47]:
data['d']=2
data

        foo       bar  d
a  0.622020  0.742077  2
b  0.065628  0.545538  2
c  0.462602  0.043660  2

In [48]:
data['a':'b']

        foo       bar  d
a  0.622020  0.742077  2
b  0.065628  0.545538  2

In [51]:
data[0:2]

        foo       bar  d
a  0.622020  0.742077  2
b  0.065628  0.545538  2

In [58]:
data.iloc[1:3]

        foo       bar  d
b  0.065628  0.545538  2
c  0.462602  0.043660  2

In [59]:
data.foo

a    0.622020
b    0.065628
c    0.462602
Name: foo, dtype: float64

In [61]:
data['foo/bar']=data['foo']/data['bar']
data

        foo       bar  d    foo/bar
a  0.622020  0.742077  2   0.838215
b  0.065628  0.545538  2   0.120299
c  0.462602  0.043660  2  10.595660

In [63]:
data.values

array([[ 0.62201983,  0.74207655,  2.        ,  0.83821517],
       [ 0.06562781,  0.54553776,  2.        ,  0.1202993 ],
       [ 0.46260206,  0.04365958,  2.        , 10.59565967]])

In [64]:
data.T

                a         b          c
foo      0.622020  0.065628   0.462602
bar      0.742077  0.545538   0.043660
d        2.000000  2.000000   2.000000
foo/bar  0.838215  0.120299  10.595660

In [65]:
data.values[0]

array([0.62201983, 0.74207655, 2.        , 0.83821517])

Phép cộng trên dữ liệu Series

In [89]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A+B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [90]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [92]:
a=np.array([1,None,3,4])
a.dtype

dtype('O')

In [93]:
b=np.array([1,np.nan,3,4])
b.dtype

dtype('float64')

In [94]:
1+np.nan

nan

In [95]:
b.sum()

nan

In [96]:
pd.Series([1,np.nan,2,None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [98]:
data = pd.Series([1, np.nan, 'hello', None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [99]:
data.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [105]:
data.dropna()

0        1
2    hello
dtype: object

In [107]:
data.fillna(0)

0        1
1        0
2    hello
3        0
dtype: object

In [109]:
data.fillna(method='ffill')

0        1
1        1
2    hello
3    hello
dtype: object

In [110]:
data.fillna(method='bfill')

0        1
1    hello
2    hello
3     None
dtype: object

In [106]:
data_frame=pd.read_csv('housing.csv')

In [74]:
#Xem heading của dữ liệu 
data_frame.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [75]:
#Xem ma trận dữ liệu 
data_frame.shape

(20640, 10)

In [76]:
#Xem information số hàng,cột,dữ liệu rỗng, kiểu dữ liệu 
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.5+ MB

In [77]:
#Dùng columns xem ý nghĩa của các hàng
data_frame.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [78]:
#Index xem cột
data_frame.index

RangeIndex(start=0, stop=20640, step=1)

In [79]:
#Describe để tính thống kê(count,mean,standard deviation,min,max)
data_frame.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [82]:
data_frame.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [112]:
data_frame['longitude'].sort_values(ascending=True)

2655    -124.35
1861    -124.30
1851    -124.30
2631    -124.27
2653    -124.26
          ...
12450   -114.56
2780    -114.55
12447   -114.49
13923   -114.47
13924   -114.31
Name: longitude, Length: 20640, dtype: float64

In [114]:
data_frame.groupby('housing_median_age').sum()

,longitude,latitude,total_rooms,total_bedrooms,population,households,median_income,median_house_value
housing_median_age,,,,,,,,
1.0,-477.83,144.82,4405.0,688.0,1314.0,397.0,16.0136,577200.0
2.0,-6909.04,2058.68,320757.0,52998.0,120817.0,42026.0,299.7304,13019603.0
3.0,-7374.06,2187.64,443925.0,76472.0,186110.0,65716.0,338.5360,14609902.0
4.0,-22693.53,6678.69,1191321.0,211478.0,537314.0,191924.0,989.5086,43783911.0
5.0,-29016.00,8597.16,1224467.0,226467.0,603017.0,205983.0,1146.2232,50853908.0
6.0,-19039.09,5637.30,726625.0,135649.0,346502.0,123220.0,701.3428,32607103.0
7.0,-20844.51,6220.25,950376.0,172031.0,457289.0,157612.0,781.2799,33826806.0
8.0,-24579.97,7363.23,821853.0,155131.0,415781.0,143010.0,918.6237,40049404.0
9.0,-24457.61,7315.09,785483.0,147406.0,386830.0,134464.0,884.8672,38267904.0
10.0,-31521.73,9481.46,927976.0,180379.0,452212.0,160167.0,1069.3342,46617306.0
11.0,-30349.14,9117.60,984691.0,190889.0,505436.0,172393.0,998.8787,45696607.0
12.0,-28404.41,8504.19,990669.0,195240.0,506848.0,179266.0,949.2420,43327004.0
13.0,-36052.99,10816.86,1096493.0,211178.0,536457.0,193161.0,1253.5640,57434906.0
14.0,-49254.18,14821.81,1508110.0,292106.0,765142.0,265373.0,1695.6028,78114007.0
15.0,-61182.52,18381.02,1680626.0,323864.0,830622.0,297368.0,2079.9001,93085909.0
16.0,-92178.90,27549.57,2287225.0,438912.0,1143822.0,410334.0,3310.6721,154339214.0
17.0,-83502.19,25103.60,2205306.0,439324.0,1120882.0,403343.0,2747.2069,132965014.0
18.0,-68213.04,20488.63,1770519.0,347378.0,916939.0,325163.0,2267.0861,110212217.0
19.0,-60003.12,17985.10,1542145.0,319986.0,812882.0,294775.0,1887.7152,96985315.0
20.0,-55749.70,16806.56,1347122.0,275791.0,718697.0,259715.0,1757.0574,90981814.0
21.0,-53354.55,15957.72,1404025.0,289957.0,739376.0,269135.0,1718.0456,89269815.0
22.0,-47745.55,14294.14,1295749.0,264498.0,692938.0,245264.0,1565.1372,83749126.0
23.0,-53592.00,16008.07,1297646.0,257399.0,696320.0,242101.0,1769.3872,91640524.0
24.0,-57048.71,16926.22,1392337.0,286027.0,769580.0,271248.0,1869.6693,98388221.0
25.0,-67601.17,20095.11,1586752.0,325735.0,871352.0,306844.0,2331.8840,124754426.0
26.0,-73966.99,21978.63,1609134.0,318908.0,889869.0,304724.0,2523.6099,129665221.0
27.0,-58379.19,17382.71,1254829.0,260728.0,689377.0,245262.0,1880.5818,101648923.0
28.0,-56307.82,16746.72,1184647.0,252998.0,679925.0,238525.0,1767.3394,98042826.0
29.0,-55065.64,16367.05,1148069.0,240771.0,670398.0,229332.0,1650.5204,90922016.0
30.0,-56862.28,16872.54,1111011.0,240608.0,672986.0,228644.0,1707.7143,95320219.0
31.0,-54687.53,16199.55,1066003.0,227214.0,636985.0,218673.0,1652.4300,94844526.0
32.0,-67491.46,20043.40,1312280.0,268433.0,771161.0,256677.0,2135.0755,114926730.0
33.0,-73417.43,21762.23,1360891.0,277305.0,802187.0,267442.0,2357.0645,125231328.0
34.0,-82129.03,24228.32,1478647.0,296480.0,849630.0,285606.0,2745.5980,147855240.0
35.0,-98266.38,28980.68,1631402.0,331534.0,992448.0,321586.0,3224.4005,170814335.0
36.0,-102813.48,30318.66,1585965.0,321823.0,942467.0,311736.0,3392.7959,178928739.0
37.0,-64141.49,18976.75,974261.0,202746.0,580008.0,196654.0,2012.4289,111352735.0
38.0,-47029.09,13928.09,720469.0,154351.0,433760.0,148216.0,1357.8268,76275916.0
39.0,-44144.21,13104.97,700262.0,152508.0,428133.0,145835.0,1268.5062,77080617.0
40.0,-36345.63,10773.91,542917.0,120234.0,332781.0,114540.0,1050.7304,63511219.0
41.0,-35351.07,10462.11,484710.0,109922.0,307853.0,104220.0,938.3370,58387117.0
42.0,-43968.84,13007.33,640340.0,142493.0,417648.0,138490.0,1262.7240,73148318.0
43.0,-42242.84,12551.33,608594.0,137367.0,375932.0,130764.0,1133.5311,68354615.0
44.0,-42547.76,12576.38,636272.0,135060.0,367075.0,128731.0,1247.1105,76979116.0
45.0,-35182.96,10435.31,520598.0,107733.0,304385.0,105708.0,1077.6398,64032618.0
46.0,-29353.83,8734.97,434851.0,95865.0,257693.0,91787.0,832.5437,49192309.0
47.0,-23745.66,7083.96,351010.0,76223.0,209883.0,73357.0,651.6012,37739008.0
48.0,-21207.55,6321.60,311823.0,66682.0,171854.0,63470.0,614.7494,39395210.0
49.0,-16116.94,4826.02,247805.0,52402.0,132552.0,50072.0,475.7663,29525008.0
50.0,-16336.81,4894.27,243770.0,53655.0,135861.0,50654.0,468.4233,29631713.0
51.0,-5783.48,1745.24,88918.0,18521.0,45183.0,18133.0,164.3351,10930504.0
52.0,-153887.77,46598.37,2366069.0,510762.0,1189327.0,481659.0,4950.7574,350610769.0

In [87]:
#Hàm location tìm data frame thõa điều khiện
data_frame.loc[(data_frame.total_rooms>7000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
283,-122.16,37.79,22.0,12842.0,2048.0,4985.0,1967.0,5.9849,371000.0,NEAR BAY
508,-122.30,37.84,14.0,7355.0,2408.0,3100.0,2051.0,4.0018,143800.0,NEAR BAY
568,-122.24,37.73,21.0,7031.0,1249.0,2930.0,1235.0,4.5213,228400.0,NEAR BAY
570,-122.24,37.72,5.0,18634.0,2885.0,7427.0,2718.0,7.6110,350700.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20530,-121.76,38.57,11.0,15018.0,3008.0,7984.0,2962.0,3.1371,201800.0,INLAND
20539,-121.71,38.56,20.0,8627.0,1516.0,4071.0,1466.0,4.2198,164100.0,INLAND
20544,-121.76,38.55,23.0,8800.0,1857.0,6330.0,1832.0,2.0650,219400.0,INLAND
20563,-121.75,38.67,9.0,12139.0,2640.0,6837.0,2358.0,3.1250,132500.0,INLAND
20629,-121.39,39.12,28.0,10035.0,1856.0,6912.0,1818.0,2.0943,108300.0,INLAND

In [26]:
#Chỉ in ra các cột kinh độ, vĩ độ và nhà ở
data_frame.loc[(data_frame.total_rooms>7000),['longitude','latitude','households']]

       longitude  latitude  households
1        -122.22     37.86      1138.0
283      -122.16     37.79      1967.0
508      -122.30     37.84      2051.0
568      -122.24     37.73      1235.0
570      -122.24     37.72      2718.0
...          ...       ...         ...
20530    -121.76     38.57      2962.0
20539    -121.71     38.56      1466.0
20544    -121.76     38.55      1832.0
20563    -121.75     38.67      2358.0
20629    -121.39     39.12      1818.0

[741 rows x 3 columns]

In [27]:
#Hàm index location tìm dataframe ở vị trí index
data_frame.iloc[[9]]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [29]:
#Tìm từ vị trí thứ m đến n
data_frame.iloc[2:5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [31]:
#Chỉ lấy data_frame cuối 
data_frame.iloc[2:5,-1]

2    NEAR BAY
3    NEAR BAY
4    NEAR BAY
Name: ocean_proximity, dtype: object

In [ ]:
#Chỉnh sửa data_frame